@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?xt2fuh')
  src url('../fonts/icomoon.eot?xt2fuh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xt2fuh') format('truetype'),
    url('../fonts/icomoon.woff?xt2fuh') format('woff'),
    url('../fonts/icomoon.svg?xt2fuh#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-folder-open
  &:before
    content "\e930"

.icon-display
  &:before
    content "\e956"

.icon-mobile
  &:before
    content "\e958"

.icon-mobile2
  &:before
    content "\e959"

.icon-tablet
  &:before
    content "\e95a"

.icon-user-tie
  &:before
    content "\e976"

.icon-facebook
  &:before
    content "\ea90"

.icon-twitter
  &:before
    content "\ea96"

.icon-youtube
  &:before
    content "\ea9d"

.icon-linkedin
  &:before
    content "\eaca"
.ir-arriba
  display none
  position fixed
  padding .5em
  bottom 5%
  right 3%
  border none
  background #004d40
  color white
  font-weight 700
  border-radius 3px
  outline 0
  cursor pointer
  width 30px
  height 30px
  background url("../img/flecha-verde.png")
  background-size cover
  
.menu
  width 100%
  //height 100px
  padding 0
  position fixed
  top 0
  background-color #fff //#f3f3f3
  box-shadow rgba(0, 0, 0, .5) 0px 5px 10px
  .opciones-menu
    width 100%
    margin 0
    padding 0
    display flex
    display -webkit-flex
    display -moz-flex
    flex-direction row
    justify-content center
    list-style none
    .menu-logo
      width 30%
      display flex
      justify-content flex-start
      align-items center
      text-align center
      img
        width 210px
        height 70px
        transition .4s
        &:hover
          width 170px
          height 55px
          transition .4s
    .item
      a
        display block
        padding 1.5em 1em
        text-decoration none
        font-size 1.1em
        text-transform uppercase
        color rgba(11, 187, 121, 1)
        margin-right 1em
        font-family 'Source Sans Pro', sans-serif
        font-weight 400
        transition .4s
        -webkit-transition .4s
        -moz-transition .4s
        border-bottom .1em solid transparent
        &:hover
          //border-bottom .1em solid white
          background-color rgba(11, 187, 121, 1)
          color white
          border-radius 5px
          transition .4s
          -webkit-transition .4s
          -moz-transition .4s
.cabecera
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)
  //border-bottom 1em solid rgba(0, 0, 0, .3)
  padding-top 7rem
  video
    position fixed
    min-width 100%
    min-height 100%
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    z-index -1
  .titulo
    color white
    text-align center
    font-family 'Source Sans Pro', sans-serif
    font-weight 700
    .titulo-kimvex
      font-size 10em
      margin-bottom .2em
      margin-top 0
      text-align center
    .subtitulo
      font-size 1.4em
      font-weight 400
      margin 0
      text-align center
      text-shadow 0em 0em 0em #000

.servicios
  width 100%
  height 140%
  background url('../img/servicio.jpg') no-repeat
  background-size cover
  background-attachment fixed
  padding 0
  margin 0
  .servicios-dif
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .75)
    display flex
    flex-direction column
    justify-content center
    align-items center
    h3
      width 100%
      padding 100px 0 1rem 0
      margin 0
      font-size 2rem
      font-family 'Montserrat'
      font-weight 400
      color #fff
      text-align center
      white-space pre-wrap
    .cont-servicios
      width 80%
      height 80%
      display flex
      justify-content space-around
      align-items space-around
      flex-wrap wrap
      .item-servicio
        list-style none
        width 30%
        height 45%
        //border 2px solid white
        display flex
        flex-direction column
        justify-content space-around 
        align-items center
        img
          width 270px
          height 270px
          border-radius 50%
          animation-name regresa
          animation-duration .5s
          &:hover
            animation-name girar
            animation-duration .5s
            //animation-timing-function linear

        span
          color #fff
          font-family 'Montserrat'
          font-size 1.1rem
         
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes regresa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.cuerpo
  width 100%
  height 160%
  // background rgba(0,0,0,0.3) url('../img/photo-1416339442236-8ceb164046f8.jpg') no-repeat
  // background-attachment fixed
  // background-size cover
  //border-top 1em solid rgba(0, 0, 0, .3)
  background-color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding-top 50px
  // .contenedor
  //   width 100%
  //   height 100%
  //   // background-color rgba(9, 142, 92, .6)
  //   font-size 1.5em
  //   display flex
  //   color rgba(9, 142, 92, .6)
  //   justify-content center
  //   align-items center
  .inconos-somos
    width 80%
    height 25%
    display flex
    justify-content space-around
    align-items center
    span
      color rgba(11, 187, 121, 1)
      width 15%
      text-align center
      font-size 4rem
      border 5px solid rgba(11, 187, 121, 1)
      padding 1rem 0
      border-radius 5px
      //box-shadow rgba(0, 0, 0, .3) 0px 8px 10px
      text-shadow rgba(0, 0, 0, .3) 0px 8px 10px
  .informacion
    width 80%
    height 35%
    text-align left
    color rgba(11, 187, 121, 1)
    font-size 1.5em
    h2
      font-size 1.5em
      text-align center
      color #a79e9e
      margin 0
    .inf-img
      width 100%
      display flex
      justify-content space-around
      align-items center
      p
        width 56%
        font-family 'Allerta', sans-serif
        font-weight 300
        line-height 1.4
        color #a79e9e
      img
        width 340px
        height 120px
  .miembros
    width 90%
    height 39%
    display flex
    justify-content space-around
    align-items center
    margin-bottom 3rem
    flex-wrap wrap
    span
      width 25%
      height 50%
      display flex
      flex-direction column
      justify-content space-around
      align-items center
      img
        width 120px
        height 120px
        border-radius 50%
      strong
      p
        text-align center
        font-family 'Allerta', sans-serif
        
.cuerpo2
  width 100%
  height 110%       
  background rgba(0,0,0,0.1) url('../img/clientes.jpg') no-repeat     
  background-attachment fixed
  background-size cover
  display flex
  justify-content center
  align-items center
  .clientes
    width 100%
    height 100%
    display flex
    flex-direction column
    //background rgba(11, 187, 121, .1)
    justify-content center
    align-items center
    //box-shadow rgba(0, 0, 0, .7) 0px 4px 6px
    
    h2
      width 100%
      height 10%
      margin 0
      padding 0
      text-align center
      color white
      font-weight 400
      font-size 1.5em
      font-size 'Montserrat'
      text-transform uppercase
      padding 0
      margin 0
    
    .cont-clientes
      width 100%
      height 60%
      display flex
      justify-content space-around
      align-items center
      
      .item-clientes
        width 30%
        display flex
        flex-direction column
        align-items center
        
        img
          width 350px
          height 200px
          border-radius 5px
          box-shadow rgba(0, 0, 0, .7) 0px 5px 10px
        a
          text-decoration none
          color white
          margin-top 1rem
          font-size 1.3rem
          &:hover
            color rgba(11, 187, 121, 1)
      
.pie
  width 100%
  height 25%
  background-color black
  margin 0
  display flex
  justify-content center
  text-align center
  p
    width 33%
    color white
    margin 0
    display flex
    flex-direction colum
    justify-content center
    align-items center
  .contacto
    width 33%
    display flex
    flex-direction column
    justify-content space-around
    a
      text-decoration none
      color white
      display flex
      flex-direction column
      justify-content center
      align-items center
      &:hover
        color rgba(11, 187, 121, 1)
      
  div
    width 33%
    color white
    margin 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    li
      width 100%
      list-style none
      display flex
      justify-content center
      a
        width 50%
        text-decoration none
        color white
        display block
        padding .3em 0
        font-size 1em
        &:hover
          color rgba(11, 187, 121, 1)

@media (max-width: 950px)
  .cuerpo2
    .clientes
      .cont-clientes
        .item-clientes
          width 40% 
          img
            width 300px
            height 170px
          a
            font-size 1.1rem





      