
.cabecera
  width 100%
  background rgba(0,0,0,0.3) url('../img/photo-1414690165279-49ab0a9a7e66.jpg') no-repeat
  background-attachment fixed
  background-size cover
  height 100%
  .menu
    width 100%
    .opciones-menu
      width 100%
      margin 0
      padding 0
      display flex
      display -webkit-flex
      display -moz-flex
      flex-direction row
      justify-content flex-end
      list-style none
      .item
        a
          display block
          padding 1.5em
          text-decoration none
          font-size 1.1em
          text-transform uppercase
          color white
          margin-right 1em
          font-family 'Source Sans Pro', sans-serif
          font-weight 400
          transition .4s
          -webkit-transition .4s
          -moz-transition .4s
          border-bottom .1em solid transparent
          &:hover
            border-bottom .1em solid white
            transition .4s
            -webkit-transition .4s
            -moz-transition .4s
  .titulo
    color white
    text-align center
    font-family 'Source Sans Pro', sans-serif
    font-weight 700
    .titulo-kimvex
      font-size 10em
      margin-bottom .2em
    .subtitulo
      margin 0
      text-shadow 0em 0em 0em #000

.cuerpo
  width 100%
  height 100%
