@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?68crh8')
  src url('../fonts/icomoon.eot?68crh8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?68crh8') format('truetype'),
        url('../fonts/icomoon.woff?68crh8') format('woff'),
        url('../fonts/icomoon.svg?68crh8#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-facebook
  &:before
    content "\e900"
    margin-right .5em

.icon-twitter
  &:before
    content "\e901"
    margin-right .5em

.icon-youtube
  &:before
    content "\e902"
    margin-right .5em
.icon-linkedin
  &:before
    content "\e903"
    margin-right .5em
    
.cabecera
  width 100%
  background rgba(0,0,0,0.3) url('../img/photo-1414690165279-49ab0a9a7e66.jpg') no-repeat
  background-attachment fixed
  background-size cover
  height 100%
  border-bottom 1em solid rgba(0, 0, 0, .3)
  .menu
    width 100%
    .opciones-menu
      width 100%
      margin 0
      padding 0
      display flex
      display -webkit-flex
      display -moz-flex
      flex-direction row
      justify-content flex-end
      list-style none
      .item
        a
          display block
          padding 1.5em
          text-decoration none
          font-size 1.1em
          text-transform uppercase
          color white
          margin-right 1em
          font-family 'Source Sans Pro', sans-serif
          font-weight 400
          transition .4s
          -webkit-transition .4s
          -moz-transition .4s
          border-bottom .1em solid transparent
          &:hover
            border-bottom .1em solid white
            transition .4s
            -webkit-transition .4s
            -moz-transition .4s
  .titulo
    color white
    text-align center
    font-family 'Source Sans Pro', sans-serif
    font-weight 700
    .titulo-kimvex
      font-size 10em
      margin-bottom .2em
    .subtitulo
      margin 0
      text-shadow 0em 0em 0em #000

.cuerpo
  width 100%
  height 100%
  background rgba(0,0,0,0.3) url('../img/photo-1416339442236-8ceb164046f8.jpg') no-repeat
  background-attachment fixed
  background-size cover
  //border-top 1em solid rgba(0, 0, 0, .3)
  display flex
  justify-content center
  align-items center
  .contenedor
    width 100%
    height 100%
    background-color rgba(9, 142, 92, .6)
    font-size 1.5em
    display flex
    color white
    justify-content center
    align-items center
    .informacion
      width 80%
      height 70%
      text-align left
      font-family 'Source Sans Pro', sans-serif
      font-weight 400
      h2
        font-size 2em
.cuerpo2
  width 100%
  height 100%       
  background rgba(0,0,0,0.3) url('../img/macbook-air-iphone-moleskin.jpg') no-repeat     
  background-attachment fixed
  background-size cover
  display flex
  justify-content center
  align-items center
  .clientes
    width 80%
    height 65%
    padding-top 1em
    display flex
    justify-content center
    box-shadow rgba(0, 0, 0, .7) 0px 4px 6px
    
    h2
      width 100%
      margin 0
      padding 0
      text-align center
      color white
      font-weight 700
      font-size 1.5em
      text-transform uppercase
.pie
  width 100%
  height 25%
  background-color black
  margin 0
  display flex
  justify-content center
  text-align center
  p
    width 50%
    color white
    margin 0
    display flex
    flex-direction colum
    justify-content center
    align-items center  
  div
    width 50%
    color white
    margin 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    li
      width 100%
      list-style none
      display flex
      justify-content center
      a
        width 50%
        text-decoration none
        color white
        display block
        padding .3em 0
        font-size 1em
  
      

      


